<!DOCTYPE html>
<html>

<head>
  <title>Adopt a Kitten</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

  <style>
    .text-indent-4 {
      text-indent: 1rem;
    }
  </style>
</head>

<body>
  <header class="bg-gray-400 fixed top-0 w-full flex justify-between items-center">
    <h1 class="text-4xl pl-16 py-4 font-mono font-bold">Adopt a Kitten</h1>
    <p class="pr-8">A Home for Every Kittie</p>
  </header>
  <main class="w-10/12 m-auto mt-24">
    <h2 class="text-4xl my-4">Welcome!</h2>
    <p class="my-4 text-indent-4">
      Attack dog, run away and pretend to be victim my left donut is missing, as is my right if it fits, i sits or lick
      butt. Destroy couch as revenge. Please stop looking at your phone and pet me scratch the box, intently stare at
      the same spot under the bed. Dream about hunting birds meow yet sleep on dog bed, force dog to sleep on floor for
      meow loudly just to annoy owners caticus cuteicus peer out window, chatter at birds, lure them to mouth find
      something else more interesting. Lick sellotape sleep in the bathroom sink chew on cable my left donut is missing,
      as is my right the dog smells bad.
    </p>
    <hr class="h-1 w-3/4 mx-auto bg-gray-400 my-12" />
    <h2 class="text-2xl my-4">Add a Kitten</h2>
    <form class="bg-gray-200 p-6 rounded-lg my-8">

      <fieldset class="bg-gray-100 p-4">
        <legend class="">Basic Information</legend>
        <label class="mr-4">
          Name
          <input name="name" type="text" class="ml-1" />
        </label>
        <label class="mr-4">Breed
          <input name="breed" type="text" class="ml-1" />
        </label>
        <label class="mr-4">Coat Color
          <input name="coatColor" type="text" class="ml-1" />
        </label>
        <label>Interests
          <input name="interests" type="text" class="ml-1" />
        </label>
        <p class="mt-8">List interests, separated by commas</p>
      </fieldset>
      <fieldset class="bg-gray-100 p-4 my-4">
        <legend>Placement Information</legend>
        <p class="mb-4">Can be placed with...</p>
        <label>
          <input name="isGoodWithKids" type="checkbox" />
          Kids
        </label>
        <label>
          <input name="isGoodWithDogs" type="checkbox" />
          Dogs
        </label>
        <label>
          <input name="isGoodWithOtherCats" type="checkbox" />
          Other Cats
        </label>
      </fieldset>

      <button type="submit" class="bg-blue-500 px-2 py-1 rounded-md text-white hover:bg-blue-700">Submit</button>

    </form>

    <hr class="h-1 w-3/4 mx-auto bg-gray-400 my-12" />

    <h2 class="text-2xl">Four articles about Kitties</h2>
    <div class="flex mt-16 mb-8">
      <p class="text-indent-4 px-8 overflow-scroll h-64">
        Attack dog, run away and pretend to be victim my left donut is missing, as is my right if it fits, i sits or
        lick
        butt. Destroy couch as revenge. Please stop looking at your phone and pet me scratch the box, intently stare at
        the same spot under the bed. Dream about hunting birds meow yet sleep on dog bed, force dog to sleep on floor
        for
        meow loudly just to annoy owners caticus cuteicus peer out window, chatter at birds, lure them to mouth find
        something else more interesting. Lick sellotape sleep in the bathroom sink chew on cable my left donut is
        missing,
        as is my right the dog smells bad.
      </p>

      <p class="text-indent-4 px-8 overflow-scroll h-64">
        Attack dog, run away and pretend to be victim my left donut is missing, as is my right if it fits, i sits or
        lick
        butt. Destroy couch as revenge. Please stop looking at your phone and pet me scratch the box, intently stare at
        the same spot under the bed. Dream about hunting birds meow yet sleep on dog bed, force dog to sleep on floor
        for
        meow loudly just to annoy owners caticus cuteicus peer out window, chatter at birds, lure them to mouth find
        something else more interesting. Lick sellotape sleep in the bathroom sink chew on cable my left donut is
        missing,
        as is my right the dog smells bad.
      </p>
      <p class="text-indent-4 px-8 overflow-scroll h-64">
        Attack dog, run away and pretend to be victim my left donut is missing, as is my right if it fits, i sits or
        lick
        butt. Destroy couch as revenge. Please stop looking at your phone and pet me scratch the box, intently stare at
        the same spot under the bed. Dream about hunting birds meow yet sleep on dog bed, force dog to sleep on floor
        for
        meow loudly just to annoy owners caticus cuteicus peer out window, chatter at birds, lure them to mouth find
        something else more interesting. Lick sellotape sleep in the bathroom sink chew on cable my left donut is
        missing,
        as is my right the dog smells bad.
      </p>
      <p class="text-indent-4 px-8 overflow-scroll h-64">
        Attack dog, run away and pretend to be victim my left donut is missing, as is my right if it fits, i sits or
        lick
        butt. Destroy couch as revenge. Please stop looking at your phone and pet me scratch the box, intently stare at
        the same spot under the bed. Dream about hunting birds meow yet sleep on dog bed, force dog to sleep on floor
        for
        meow loudly just to annoy owners caticus cuteicus peer out window, chatter at birds, lure them to mouth find
        something else more interesting. Lick sellotape sleep in the bathroom sink chew on cable my left donut is
        missing,
        as is my right the dog smells bad.
      </p>
    </div>


  </main>
  <footer class="bg-gray-400 pl-16 py-6">
    <p>
      We don't exist, but our friends at <a href="http://www.seattle.gov/animalshelter" target="_blank"
        class="text-blue-700">Seattle Animal
        Shelter</a> and <a href="http://www.seattlehumane.org/" target="_blank" class="text-blue-700">Seattle Humane
        Society</a> sure do.</p>
    <p>
      They - and their kittens - will appreciate any help you can get: financial, volunteer, or simply spreading the
      word
      about their amazing animals who need homes.
    </p>
  </footer>
</body>

</html>