* {
  font-family: Tahoma, sans-serif;
}

header {
  background-color: rgb(199, 149, 174);
  display: flex;
  padding: 1rem;
  justify-content:space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  height: 3rem;
}

h1 {
  font-size: 3rem;
  padding-left: 1rem;
}


h2 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

header p {
  padding-right: 5rem;
}

main {
  padding-top: 5rem;
  width: 80%;
  margin: 0 auto;
}

#lorem {
  text-indent: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#article-container {
  display: flex;
}


#article-container p{
  margin-right: 1rem;
  height: 4rem;
  overflow-y: scroll;
}

#kittenProfiles {
  display: flex;
}

#kittenProfiles article {
  flex: 1;
  margin: 20px;
  background-color: rgb(151, 167, 235);
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(82, 80, 195);
}

table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  background-color: bisque;
}

img {
  max-width: 100%;
  min-width: 100%;
}

