* {
  font-family: Arial, sans-serif;
}

#kittenProfiles {
  display: flex;
}

#kittenProfiles article {
  flex: 1;
  margin: 20px;
  background-color: bisque;
  padding: 10px;
  border-radius: 10px;
}

table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
}

img {
  max-width: 100%;
  min-width: 100%;
}

